@model IEnumerable<ViewModels.Products.ProductViewModel>

@*Bread Crumbs*@
<section class="mb-5 pb-sm-2 pb-md-3  pb-lg-4 pb-xl-5">
	<div class="container container-4xl">
		@await Component.InvokeAsync(name:"BreadCrumbsComponent")
		<h1 class="text-center mb-3">
			لیست محصولات
		</h1>
		<nav aria-label="breadcrumb" class="mb-4 mb-lg-3">
			<ol class="breadcrumb breadcrumb-singleProduct ">
				<li class="breadcrumb-item">
					<a asp-controller="Home" asp-action="Index">
						خانه
					</a>
				</li>
				<li class="breadcrumb-item">
					<a>
						محصولات
					</a>
				</li>
				<li class="breadcrumb-item active">
					لیست محصولات
				</li>
			</ol>
		</nav>
	</div>
	</div>
</section>

<main class="content">
	<div class="container container-2xl">
		<div class="row">
			<div class="col-12">
				<div class="area-topbar-shop d-md-flex justify-content-between align-items-center mb-5 ">
					<div class="d-flex align-items-center ">
						@*Filter*@
						<ul class="nav nav-pills nav-pills-productShop" role="tablist">
							<li class="nav-item">
								<button class="nav-link" id="tab-iconColumnFour" data-bs-toggle="pill"
										data-bs-target="#contentShop4" type="button" role="tab" aria-controls="home"
										aria-selected="true">

									<span class="icon-column icon-listproduct">

										<span class="d-flex justify-content-between layer-icon-column  layer-first">
											<span></span>
											<span></span>

										</span>

										<span class="d-flex justify-content-between layer-icon-column layer-middle">
											<span></span>
											<span></span>

										</span>

										<span class="d-flex justify-content-between layer-icon-column layer-last">
											<span></span>
											<span></span>

										</span>
									</span>
								</button>
							</li>

							<li class="nav-item">
								<button class="nav-link active" id="tab-iconColumnThree" data-bs-toggle="pill"
										data-bs-target="#contentShop3" type="button" role="tab" aria-controls="home"
										aria-selected="true">
									<span class="icon-column">
										<span class="d-flex justify-content-between layer-icon-column layer-first">
											<span></span>
											<span></span>
											<span></span>
											<span></span>
										</span>

										<span class="d-flex justify-content-between layer-icon-column layer-middle">
											<span></span>
											<span></span>
											<span></span>
											<span></span>
										</span>

										<span class="d-flex justify-content-between layer-icon-column layer-last">
											<span></span>
											<span></span>
											<span></span>
											<span></span>
										</span>
									</span>
								</button>
							</li>

							<li class="nav-item">
								<button class="nav-link" id="tab-iconColumnTwo" data-bs-toggle="pill"
										data-bs-target="#contentShop2" type="button" role="tab" aria-controls="home"
										aria-selected="true">

									<span class="icon-column">

										<span class="d-flex justify-content-between layer-icon-column layer-first">
											<span></span>
											<span></span>
											<span></span>
										</span>

										<span class="d-flex justify-content-between layer-icon-column layer-middle">
											<span></span>
											<span></span>
											<span></span>
										</span>

										<span class="d-flex justify-content-between layer-icon-column layer-last">
											<span></span>
											<span></span>
											<span></span>
										</span>
									</span>
								</button>
							</li>

							<li class="nav-item">
								<button class="nav-link" id="tab-iconColumnOne" data-bs-toggle="pill"
										data-bs-target="#contentShop1" type="button" role="tab" aria-controls="home"
										aria-selected="true">
									<span class="icon-column">

										<span class="d-flex justify-content-between layer-icon-column layer-first">
											<span></span>
											<span></span>
										</span>

										<span class="d-flex justify-content-between layer-icon-column layer-middle">
											<span></span>
											<span></span>
										</span>

										<span class="d-flex justify-content-between layer-icon-column layer-last">
											<span></span>
											<span></span>
										</span>
									</span>
								</button>
							</li>
						</ul>
					</div>
				</div>
				@*Product List Tab*@
				<div class="tab-content tab-content-shop" id="myTabContent">

					@*ContententShop1*@
					<div class="tab-pane fade" id="contentShop1" role="tabpanel"
						 aria-labelledby="tab-iconColumnOne">
						<div class="row">
							@if (Model.Any())
							{
								foreach (var item in Model)
								{
									<div class="col-12 col-sm-6 ">
										<div class="product_cart">
											<div class="cart-img-product">
												<a asp-controller="Products" asp-action="ProductDetails" asp-route-id="@(item.ProductId)">
													<div class="d-flex justify-content-center align-items-center h-100">
														<img src="~/emoniFiles/Products/@(item.ImageProductName)" class="img1-product img-fluid" alt="@(item.ImageProductName)" />
													</div>
												</a>
												<div class="area-button-view-product">
													<a asp-controller="Products" asp-action="ProductDetails" asp-route-id="@(item.ProductId)" class="button-view-product">
														مشاهده محصول

													</a>
													<a asp-controller="Order" asp-action="AddToShoppingCart" asp-route-id="@(item.ProductId)" class="add-to-cart">
														+
													</a>
												</div>
											</div>

											<div class="content_product text-center">
												<div class="price_card_product mb-2">
													@(item.DiscountPercentage)
													¥
												</div>

												<a asp-controller="Products" asp-action="ProductDetails" asp-route-id="@(item.ProductId)">
													<h3 class="title-product mb-2">
														@(item.Title)
													</h3>
												</a>
												@*Rate*@
												<a class="d-flex justify-content-center">
													<div class="star_rating">
														@for (var i = 0; i < item.Rate; i++)
														{
															<span class="star-icon star-icon-active">
																<i class="far fa-star"></i>
															</span>
														}
													</div>
												</a>
											</div>
										</div>
									</div>
								}
							}
						</div>

						@*pagination contentshop1*@
						@{
							var test = Model.Select(item => item.ProducCategorytId).FirstOrDefault();

							<div class="area-pageination-shop mt-5">
								@if (ViewBag.TotalPages > 1)
								{
									<ul class="pagination page-numbers d-flex justify-content-center order-2 order-md-1">


										@if (ViewBag.PageNumber <= 1)
										{
											<li class="page-item disabled">
												<a class="page-link" href="#" tabindex="-1">
													<i class="fas fa-chevron-right"></i>
												</a>
											</li>
										}
										else
										{
											<li class="page-item">
												<a class="page-link" asp-controller="Products" asp-action="ProductList" asp-route-productCategoryId="@(test)" asp-route-pageNumber="@((int)ViewBag.PageNumber - 1)" tabindex="-1">
													<i class="fas fa-chevron-right"></i>
												</a>
											</li>
										}

										@for (var index = 1; index <= (ViewBag.TotalPages); index++)
										{
											<li class="page-item @(((int)ViewBag.PageNumber==index)?"active":"")">
												<a class="page-link" asp-controller="Products" asp-action="ProductList" asp-route-productCategoryId="@(test)" asp-route-pageNumber="@index">
													@index
												</a>
											</li>
										}

										@if (ViewBag.PageNumber >= ViewBag.TotalPages)
										{
											<li class="page-item disabled">
												<a class="page-link" href="#" aria-label="Next">
													<i class="fas fa-chevron-left"></i>
												</a>
											</li>
										}
										else
										{
											<li class="page-item">
												<a class="page-link" asp-area="" asp-controller="Products" asp-action="ProductList" asp-route-productCategoryId="@(test)" asp-route-pageNumber="@((int)ViewBag.PageNumber + 1)" aria-label="Next">
													<i class="fas fa-chevron-left"></i>
												</a>
											</li>
										}
									</ul>
								}
							</div>
						}

					</div>

					@*ContententShop2*@
					<div class="tab-pane fade " id="contentShop2" role="tabpanel"
						 aria-labelledby="tab-iconColumnTwo">
						<div class="row">
							@if (Model.Any())
							{
								foreach (var item in Model)
								{

									<div class="col-12 col-sm-6 col-md-4">
										<div class="product_cart">
											<div class="cart-img-product">
												<a asp-controller="Products" asp-action="ProductDetails" asp-route-id="@(item.ProductId)">
													<div class="d-flex justify-content-center align-items-center h-100">
														<img src="~/emoniFiles/Products/@(item.ImageProductName)" class="img2-product img-fluid" alt="@(item.ImageProductName)" />
													</div>
												</a>
												<div class="area-button-view-product">
													<a asp-controller="Products" asp-action="ProductDetails" asp-route-id="@(item.ProductId)" class="button-view-product">
														مشاهده محصول

													</a>
													<a class="add-to-cart" asp-controller="Order" asp-action="AddToShoppingCart" asp-route-id="@(item.ProductId)">
														+
													</a>
												</div>
											</div>
											<div class="content_product text-center">
												<div class="price_card_product mb-2">
													@(item.DiscountPercentage)
													¥
												</div>
												<a asp-controller="Products" asp-action="ProductDetails" asp-route-id="@(item.ProductId)">
													<h3 class="title-product mb-2">
														@(item.Title)
													</h3>
												</a>

												@*Rate*@
												<a class="d-flex justify-content-center">
													<div class="star_rating">
														@for (var i = 0; i < item.Rate; i++)
														{
															<span class="star-icon star-icon-active">
																<i class="far fa-star"></i>
															</span>
														}
													</div>
												</a>
											</div>
										</div>
									</div>
								}
							}

						</div>

						@*pagination contentshop2*@
						@{
							<div class="area-pageination-shop mt-5">
								@if (ViewBag.TotalPages > 1)
								{
									<ul class="pagination page-numbers d-flex justify-content-center order-2 order-md-1">


										@if (ViewBag.PageNumber <= 1)
										{
											<li class="page-item disabled">
												<a class="page-link" href="#" tabindex="-1">
													<i class="fas fa-chevron-right"></i>
												</a>
											</li>
										}
										else
										{
											<li class="page-item">
												<a class="page-link" asp-controller="Products" asp-action="ProductList" asp-route-productCategoryId="@(test)" asp-route-pageNumber="@((int)ViewBag.PageNumber - 1)" tabindex="-1">
													<i class="fas fa-chevron-right"></i>
												</a>
											</li>
										}

										@for (var index = 1; index <= (ViewBag.TotalPages); index++)
										{
											<li class="page-item @(((int)ViewBag.PageNumber==index)?"active":"")">
												<a class="page-link" asp-controller="Products" asp-action="ProductList" asp-route-productCategoryId="@(test)" asp-route-pageNumber="@index">
													@index
												</a>
											</li>
										}

										@if (ViewBag.PageNumber >= ViewBag.TotalPages)
										{
											<li class="page-item disabled">
												<a class="page-link" href="#" aria-label="Next">
													<i class="fas fa-chevron-left"></i>
												</a>
											</li>
										}
										else
										{
											<li class="page-item">
												<a class="page-link" asp-area="" asp-controller="Products" asp-action="ProductList" asp-route-productCategoryId="@(test)" asp-route-pageNumber="@((int)ViewBag.PageNumber + 1)" aria-label="Next">
													<i class="fas fa-chevron-left"></i>
												</a>
											</li>
										}
									</ul>
								}
							</div>
						}
					</div>

					@*ContententShop3*@
					<div class="tab-pane fade show active" id="contentShop3" role="tabpanel"
						 aria-labelledby="tab-iconColumnThree">
						<div class="row">
							@if (Model.Any())
							{
								foreach (var item in Model)
								{
									<div class="col-12 col-sm-6 col-md-4 col-lg-3">
										<div class="product_cart">
											<div class="cart-img-product">
												<a asp-controller="Products" asp-action="ProductDetails" asp-route-id="@(item.ProductId)">
													<div class="d-flex justify-content-center align-items-center h-100">
														<img src="~/emoniFiles/Products/@(item.ImageProductName)" alt="@(item.ImageProductName)" class="img1-product img-fluid" />
													</div>
												</a>
												<div class="area-button-view-product">
													<a asp-controller="Products" asp-action="ProductDetails" asp-route-id="@(item.ProductId)" class="button-view-product">
														مشاهده محصول
													</a>
													<a class="add-to-cart" asp-controller="Order" asp-action="AddToShoppingCart" asp-route-id="@(item.ProductId)">
														+
													</a>
												</div>
											</div>
											<div class="content_product text-center">
												<div class="price_card_product mb-2">
													@(item.DiscountPercentage)
													¥
												</div>
												<a asp-controller="products" asp-action="ProductDetails" asp-route-id="@(item.ProductId)">
													<h3 class="title-product mb-2">
														@(item.Title)
													</h3>
												</a>

												@*Rate*@
												<a class="d-flex justify-content-center">
													<div class="star_rating">
														@for (var i = 0; i < item.Rate; i++)
														{
															<span class="star-icon star-icon-active">
																<i class="far fa-star"></i>
															</span>
														}
													</div>
												</a>
											</div>
										</div>
									</div>

								}
							}
						</div>

						@*pagination contentshop3*@
						@{
							<div class="area-pageination-shop mt-5">
								@if (ViewBag.TotalPages > 1)
								{
									<ul class="pagination page-numbers d-flex justify-content-center order-2 order-md-1">


										@if (ViewBag.PageNumber <= 1)
										{
											<li class="page-item disabled">
												<a class="page-link" href="#" tabindex="-1">
													<i class="fas fa-chevron-right"></i>
												</a>
											</li>
										}
										else
										{
											<li class="page-item">
												<a class="page-link" asp-controller="Products" asp-action="ProductList" asp-route-productCategoryId="@(test)" asp-route-pageNumber="@((int)ViewBag.PageNumber - 1)" tabindex="-1">
													<i class="fas fa-chevron-right"></i>
												</a>
											</li>
										}

										@for (var index = 1; index <= (ViewBag.TotalPages); index++)
										{
											<li class="page-item @(((int)ViewBag.PageNumber==index)?"active":"")">
												<a class="page-link" asp-controller="Products" asp-action="ProductList" asp-route-productCategoryId="@(test)" asp-route-pageNumber="@index">
													@index
												</a>
											</li>
										}

										@if (ViewBag.PageNumber >= ViewBag.TotalPages)
										{
											<li class="page-item disabled">
												<a class="page-link" href="#" aria-label="Next">
													<i class="fas fa-chevron-left"></i>
												</a>
											</li>
										}
										else
										{
											<li class="page-item">
												<a class="page-link" asp-area="" asp-controller="Products" asp-action="ProductList" asp-route-productCategoryId="@(test)" asp-route-pageNumber="@((int)ViewBag.PageNumber + 1)" aria-label="Next">
													<i class="fas fa-chevron-left"></i>
												</a>
											</li>
										}
									</ul>
								}
							</div>
						}
					</div>

					@*ContententShop4*@
					<div class="tab-pane fade px-3 " id="contentShop4" role="tabpanel"
						 aria-labelledby="tab-iconColumnFour">
						@if (Model.Any())
						{
							foreach (var item in Model)
							{
								<div class="row box-TabListContentShop mb-4">
									<div class="col-12 col-md-4 col-xl-3 p-0">
										<div class="cart-img-product">
											<a asp-controller="Products" asp-action="ProductDetails" asp-route-id="@(item.ProductId)">
												<div class="d-flex justify-content-center align-items-center ">
													<img src="~/emoniFiles/Products/@(item.ImageProductName)" alt="@(item.ImageProductName)" class="img1-product img-fluid" />
												</div>
											</a>
										</div>
									</div>
									<div class="col-12 col-md-8 col-xl-9 p-0">
										<div class="contentproduct-TabListContentShop area-details-product p-4 p-xl-5">
											<h3 class="product-title mb-3">
												<a asp-controller="Products" asp-action="ProductDetails" asp-route-id="@(item.ProductId)">
													@(item.Title)
												</a>
											</h3>
											<div class="d-sm-flex justify-content-between align-items-center mb-3">
												<div class="area-price-Product d-flex  mb-3 mb-sm-0">
													<span class="me-2">
														قیمت:
													</span>
													<span class="price mb-0">
														@(item.DiscountPercentage)¥
													</span>
												</div>
												@*Rate*@
												<a class="d-flex justify-content-center">
													<div class="star_rating">
														@for (var i = 0; i < item.Rate; i++)
														{
															<span class="star-icon star-icon-active">
																<i class="far fa-star"></i>
															</span>
														}
													</div>
												</a>
											</div>
											<p class="mb-3">
												@Html.Raw(item.Description)
											</p>
											<div class="d-flex align-items-center">
												<a class="btn-animate1" asp-controller="Order" asp-action="AddToShoppingCart" asp-route-id="@(item.ProductId)">
													افزودن به سبد خرید
													<i class="fal fa-cart-arrow-down ms-3"></i>
												</a>
											</div>
										</div>
									</div>
								</div>
							}
						}
						@*pagination contentshop3*@

						@{
							<div class="area-pageination-shop mt-5">
								@if (ViewBag.TotalPages > 1)
								{
									<ul class="pagination page-numbers d-flex justify-content-center order-2 order-md-1">


										@if (ViewBag.PageNumber <= 1)
										{
											<li class="page-item disabled">
												<a class="page-link" href="#" tabindex="-1">
													<i class="fas fa-chevron-right"></i>
												</a>
											</li>
										}
										else
										{
											<li class="page-item">
												<a class="page-link" asp-controller="Products" asp-action="ProductList" asp-route-productCategoryId="@(test)" asp-route-pageNumber="@((int)ViewBag.PageNumber - 1)" tabindex="-1">
													<i class="fas fa-chevron-right"></i>
												</a>
											</li>
										}

										@for (var index = 1; index <= (ViewBag.TotalPages); index++)
										{
											<li class="page-item @(((int)ViewBag.PageNumber==index)?"active":"")">
												<a class="page-link" asp-controller="Products" asp-action="ProductList" asp-route-productCategoryId="@(test)" asp-route-pageNumber="@index">
													@index
												</a>
											</li>
										}

										@if (ViewBag.PageNumber >= ViewBag.TotalPages)
										{
											<li class="page-item disabled">
												<a class="page-link" href="#" aria-label="Next">
													<i class="fas fa-chevron-left"></i>
												</a>
											</li>
										}
										else
										{
											<li class="page-item">
												<a class="page-link" asp-area="" asp-controller="Products" asp-action="ProductList" asp-route-productCategoryId="@(test)" asp-route-pageNumber="@((int)ViewBag.PageNumber + 1)" aria-label="Next">
													<i class="fas fa-chevron-left"></i>
												</a>
											</li>
										}
									</ul>
								}
							</div>
						}

					</div>
				</div>
			</div>

		</div>
	</div>
</main>
@section Footer{
	<partial name="~/Views/Shared/PartialViews/Default/_Footer.cshtml" />
}
