@model IEnumerable<ViewModels.Comparison.IndexViewModel>
@{
	if (Model is null)
	{
		return;
	}
}
<section class="mb-2 mb-md-3  mb-lg-4 mb-xl-5">
	<div class="container">
		<h2 class="wow fadeInUp title-site fs-4 fw-bold" style="visibility: visible; animation-name: fadeInUp;">
			مقایسه قبل و بعد
		</h2>

		<!-- Nav pills -->
		<div class="scrollmenu">
			<ul class="nav nav-pills" role="tablist">
				@{
					int i = 1;

					foreach (var item in Model)
					{
						var href =
						$"#{item.HrefId}";

							<li class="nav-item ">
								<a class="@((i == 1)?"nav-link active":"nav-link")" data-bs-toggle="pill" href="@((i == 1)?"#home":$"#menu{i}")">
									<img src="~/emoniFiles/ComparisonProduct/@(item.ThumbNailImageName)" alt="@(item.ThumbNailImageName)" data-toggle="tooltip" data-placement="top" title="@(item.Title)">
								</a>
							</li>

						i++;
					}
				}
			</ul>
		</div>

		<!-- Tab panes -->
		<div class="container">
			<div class="row">
				<div class="tab-content">
					@{
						int j = 1;

						foreach (var item in Model)
						{
								<div id="@((j == 1)?"home":$"menu{j}")" class="container tab-pane @((j == 1)?"active":"fade")">
									<br />
								<p class="d-flex justify-content-center align-items-ceneter" style="max-width:1000px; text-align:justify;margin: 0 auto;">@item.Description</p>
									<section class="@((j == 1)?"bifore-section":$"beforeSectionMenu{j}")">
										<div class="@((j == 1)?"bifore-container":$"beforeContainerMenu{j}")">
											<figure style="background-image:url('./EmoniFiles/ComparisonProduct/@(item.BeforeImageName)')">
												<div id="@((j == 1)?"compare" :$"compareMenu{j}")" style="background-image:url('./EmoniFiles/ComparisonProduct/@(item.AfterImageName)')"></div>
											</figure>
											<input oninput="@((j == 1)?"beforeAfter()" : $"beforeAfterMenu{j}()")" onchange="@((j == 1)?"beforeAfter()":$"beforeAfter{j}()")" type="range" min="0" max="100" value="50" id="@((j == 1)?"slider":$"sliderMenu{j}")" />
										</div>
									</section>
								</div>

							j++;
						}
					}
				</div>
			</div>
		</div>
	</div>
</section>



