@model ViewModels.AdminViewModels.Abouts.EditViewModel

@{
    Layout = "~/Areas/Admin/Views/Shared/Layouts/_AdminDefault.cshtml";
}

@section Styles
    {
    <link rel="stylesheet" type="text/css" href="~/admin/app-assets/css-rtl/core/colors/palette-gradient.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/admin/assets/css/uploadFile.css" />
}

    <div class="app-content content">
        <div class="content-wrapper pb-0">
            <div class="content-wrapper-before"></div>
            <div class="content-header row">
                <div class="content-header-right col-md-8 col-12">
                    <div class="breadcrumbs-top">
                        <div class="breadcrumb-wrapper mr-1">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a asp-area="Admin" asp-controller="Home" asp-action="Index">
                                        خانه
                                    </a>
                                </li>
                                <li class="breadcrumb-item ">
                                    <a asp-area="Admin" asp-controller="Abouts" asp-action="Index">
                                        مدیریت درباره ما
                                    </a>
                                </li>
                                <li class="breadcrumb-item active ">
                                    ویرایش درباره ما
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-body">
                <section id="basic-form-layouts">
                    <div class="row match-height">
                        <div class="col-md-12">
                            <div class="card mb-0">
                                <div class="card-header">
                                    <h4 class="card-title" id="basic-layout-form">
                                        اضافه کردن درباره ما
                                    </h4>
                                    <a class="heading-elements-toggle">
                                        <i class="la la-ellipsis-v font-medium-3"></i>
                                    </a>
                                    <div class="heading-elements">
                                        <ul class="list-inline mb-0">
                                            <li>
                                                <a data-action="collapse">
                                                    <i class="ft-minus"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a data-action="reload">
                                                    <i class="ft-rotate-cw"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a data-action="expand">
                                                    <i class="ft-maximize"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a data-action="close">
                                                    <i class="ft-x"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="card-content collapse show">
                                    <div class="card-body">

                                        <form class="needs-validation" asp-area="Admin" asp-controller="Abouts" asp-action="Edit" enctype="multipart/form-data" method="Post">
                                            <div asp-validation-summary="ModelOnly"></div>
                                            <input type="hidden" id="hiddenId" value=@Model.Id />
                                            <div class="form-body">
                                                <h4 class="form-section">
                                                    <i class="ft-file-text"></i>
                                                    اطلاعات درباره ما
                                                </h4>
                                                <div class="row">
                                                    @*Title*@
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label asp-for="Title"></label>
                                                            <input asp-for="Title" type="text" id="Title" class="form-control" placeholder="@Html.DisplayNameFor(m=>m.Title)" required />
                                                            <div class="invalid-feedback">
                                                                <span asp-validation-for="Title"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <hr />

                                                @*Text*@
                                                <div class="row">
                                                    <div class="col-md-8">
                                                        <div class="form-group">
                                                            <label asp-for="Text"></label>
                                                            <textarea asp-for="Text" id="content" rows="17" cols="70"></textarea>
                                                            <div class="invalid-feedback">
                                                                <span asp-validation-for="Text" class="text-danger"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <hr />

                                                @*Image*@
                                                <div class="row pb-2">
                                                    <div class="col-sm-2 imgUp">
                                                        @{
                                                        string path = $"../../../emoniFiles/Abouts/{Model.AboutImageName}";
                                                    }
                                                    <div class="imagePreview" style="background-image:url('@path')"></div>
                                                    <label class="btn btn-primary">
                                                        Upload
                                                        <input type="file" class="uploadFile img" asp-for="AboutImage" value="Upload Photo" style="width: 0px;height: 0px;overflow: hidden;">
                                                    </label>
                                                </div>
                                            </div>

                                            <hr />

                                            @*SubTitle*@
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label asp-for="SubTitle"></label>
                                                        <input asp-for="SubTitle" type="text" id="subTitle" class="form-control" placeholder="@Html.DisplayNameFor(m=>m.SubTitle)" />
                                                        <span asp-validation-for="SubTitle" class="text-danger fontsize14"></span>
                                                    </div>
                                                </div>
                                            </div>

                                            <hr />

                                            @*Slogan*@
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label asp-for="Slogan"></label>
                                                        <textarea asp-for="Slogan" type="text" id="slogan" class="form-control" placeholder="@Html.DisplayNameFor(m=>m.Slogan)"></textarea>
                                                        <span asp-validation-for="Slogan" class="text-danger fontsize14"></span>
                                                    </div>
                                                </div>
                                            </div>

                                            <hr />

                                            <div class="row">
                                                @*Goal Title*@
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label asp-for="GoalTitle"></label>
                                                        <input asp-for="GoalTitle" type="text" class="form-control" placeholder="@Html.DisplayNameFor(m=>m.GoalTitle)" />
                                                        <span asp-validation-for="GoalTitle" class="text-danger fontsize14"></span>
                                                    </div>
                                                </div>
                                                @*Mission Title*@
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label asp-for="MissionTitle"></label>
                                                        <input asp-for="MissionTitle" type="text" class="form-control" placeholder="@Html.DisplayNameFor(m=>m.MissionTitle)" />
                                                        <span asp-validation-for="MissionTitle" class="text-danger fontsize14"></span>
                                                    </div>
                                                </div>
                                                @*Vision Title*@
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label asp-for="VisionTitle"></label>
                                                        <input asp-for="VisionTitle" type="text" class="form-control" placeholder="@Html.DisplayNameFor(m=>m.VisionTitle)" />
                                                        <span asp-validation-for="VisionTitle" class="text-danger fontsize14"></span>
                                                    </div>
                                                </div>
                                            </div>

                                            <hr />

                                            <div class="row">
                                                @*Goal Description*@
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label asp-for="GoalDescription"></label>
                                                        <textarea asp-for="GoalDescription" type="text" class="form-control" placeholder="@Html.DisplayNameFor(m=>m.GoalDescription)"></textarea>
                                                        <span asp-validation-for="GoalDescription" class="text-danger fontsize14"></span>
                                                    </div>
                                                </div>
                                                @*Mission Description*@
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label asp-for="MissionDescription"></label>
                                                        <textarea asp-for="MissionDescription" type="text" id="slogan" class="form-control" placeholder="@Html.DisplayNameFor(m=>m.MissionDescription)"></textarea>
                                                        <span asp-validation-for="MissionDescription" class="text-danger fontsize14"></span>
                                                    </div>
                                                </div>
                                                @*Vision Description*@
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label asp-for="VisionDescription"></label>
                                                        <textarea asp-for="VisionDescription" type="text" id="slogan" class="form-control" placeholder="@Html.DisplayNameFor(m=>m.VisionDescription)"></textarea>
                                                        <span asp-validation-for="VisionDescription" class="text-danger fontsize14"></span>
                                                    </div>
                                                </div>
                                            </div>

                                            <hr />

                                            <div class="form-actions mt-0 pb-0">
                                                <a asp-area="Admin" asp-controller="Abouts" asp-action="Index" class="btn btn-glowbtn btn-outline-warning btn-min-width mr-1">
                                                    <i class="ft-corner-down-right"></i>
                                                    بازگشت
                                                </a>
                                                <button type="submit" class="btn btn-outline-success btn-min-width" id="position-bottom-left" value="">
                                                    <i class="la la-check-square-o"></i>
                                                    ذخیره
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>


@section Scripts
    {
    <script src="~/ckeditor/ckeditor.js"></script>
    <script>
        CKEDITOR.replace('content');
    </script>

    <script>
        $(function() {
            $(document).on("change", ".uploadFile", function() {
                var uploadFile = $(this)

                console.log(this.result)

                var files = !!this.files ? this.files : []

                if (!files.length || !window.FileReader) return; // no file selected, or no FileReader support

                if (/^image/.test(files[0].type)) // only image file
                {
                    var reader = new FileReader() // instance of the FileReader

                    reader.readAsDataURL(files[0]) // read the local file

                    reader.onloadend = function() // set image data as background of div
                    {
                        //alert(uploadFile.closest(".upimage").find('.imagePreview').length);
                        uploadFile.closest(".imgUp").find('.imagePreview').css("background-image", "url(" + this.result + ")");
                    }
                }

            });
        });

    </script>

    @{
        await Html.RenderPartialAsync("~/Areas/Admin/Views/Shared/_ValidationScriptsPartial.cshtml");
    }
    }

