@model IEnumerable<ViewModels.Blogs.BlogViewModel>
<body class="blog style-bloglist">
    @*Bread Crumb*@
    <section class="mb-5 pb-sm-2 pb-md-3  pb-lg-4 pb-xl-5">
        <div class="container container-4xl">
           @await Component.InvokeAsync(name:"BreadCrumbsComponent")
                <h1 class="text-center mb-3">
                    لیست وبلاگ‌ها
                </h1>
                <nav aria-label="breadcrumb" class="mb-4 mb-lg-3">
                    <ol class="breadcrumb breadcrumb-singleProduct ">
                        <li class="breadcrumb-item">
                            <a asp-controller="Home" asp-action="Index">
                                خانه
                            </a>
                        </li>
                        <li class="breadcrumb-item">
                            <a asp-controller="Blogs" asp-action="BlogsList">
                                وبلاگ
                            </a>
                        </li>
                        
                    </ol>
                </nav>
            </div>
    </section>

    <main class="content">
        <div class="container container-2xl">
            <div class="row">
                @*Blogs List*@
                <div class="col-12 col-lg-9 post-single-left order-1">
                    @if (Model.Any())
                    {
                        foreach (var item in Model)
                        {
                            <article class="card card-post flex-column flex-md-row">
                                <div class="hover01 column">
                                    <figure>
                                        <a asp-controller="Blogs" asp-action="Details" asp-route-id="@(item.BlogId)" class="card-img">
                                            <img src="~/emoniFiles/Blogs/@(item.ImageBlogName)" alt="@(item.ImageBlogName)"
                                            style="height: 90%;width: 19rem;">
                                        </a>
                                    </figure>
                                </div>
                                <div class="card-body">
                                    <div class="content-post">
                                        <h2 class="title-post mb-3">
                                            <a asp-controller="Blogs" asp-action="Details" asp-route-id="@(item.BlogId)">
                                                @(item.Title)
                                            </a>
                                        </h2>
                                        <div class="meta-post d-flex mb-3">
                                            <div class="date-post item-meta-post ">
                                                <a asp-controller="Blogs" asp-action="Details" asp-route-id="@(item.BlogId)" class="data-link">
                                                    @(item.InsertDateTime.ToShamsiWithoutTime())
                                                </a>
                                            </div>
                                        </div>
                                        <p class="blogListParag">
                                            @(Html.Raw(item.Summary))
                                        </p>
                                        <div class="btn-postlist-cart mt-4">
                                            <a asp-controller="Blogs" asp-action="Details" asp-route-id="@(item.BlogId)" class="btn-animate1 btn-animate1:hover">
                                                بیشتر بخوانید
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        }
                    }
                    else
                    {
                        // Not Any => Comment
                    }

                    @*Pagination Blogs*@
                    @if (ViewBag.TotalPages > 1)
                    {
                        <ul class="pagination page-numbers d-flex justify-content-center order-2 order-md-1 mt-5">
                            @if (ViewBag.PageNumber <= 1)
                            {
                                <li class="page-item disabled">
                                    <a class="page-link" href="#" tabindex="-1">
                                        <i class="fas fa-chevron-right"></i>
                                    </a>
                                </li>
                            }
                            else
                            {
                                <li class="page-item">
                                    <a class="page-link" asp-area="" asp-controller="Blogs" asp-action="BlogsList" asp-route-pageNumber="@((int)ViewBag.PageNumber - 1)" tabindex="-1">
                                        <i class="fas fa-chevron-right"></i>
                                    </a>
                                </li>
                            }

                            @for (var index = 1; index <= (ViewBag.TotalPages); index++)
                            {
                                <li class="page-item @(((int)ViewBag.PageNumber==index)?"active":"")">
                                    <a class="page-link" asp-area="" asp-controller="Blogs" asp-action="BlogsList" asp-route-pageNumber="@index">
                                        @index
                                    </a>
                                </li>
                            }

                            @if (ViewBag.PageNumber >= ViewBag.TotalPages)
                            {
                                <li class="page-item disabled">
                                    <a class="page-link" href="#" aria-label="Next">
                                        <i class="fas fa-chevron-left"></i>
                                    </a>
                                </li>
                            }
                            else
                            {
                                <li class="page-item">
                                    <a class="page-link" asp-area="" asp-controller="Blogs" asp-action="BlogsList" asp-route-pageNumber="@((int)ViewBag.PageNumber + 1)" aria-label="Next">
                                        <i class="fas fa-chevron-left"></i>
                                    </a>
                                </li>
                            }
                        </ul>
                    }
                </div>

                @*Recently Blogs*@
                <div class="col-12 col-lg-3 order-2 mt-5 mt-lg-0">
                    @(await Component.InvokeAsync(name: "RecentBlogComponent"))
                </div>

            </div>
        </div>
    </main>
</body>


@section Footer{
    <partial name="~/Views/Shared/PartialViews/Default/_Footer.cshtml" />
}

