@model IEnumerable<ViewModels.Blogs.IndexViewModel>
@{
	if (!Model.Any())
	{
		return;
	}
}
<section class="mb-2 mb-md-3 mb-lg-4 mb-xl-5">
	<div class="container container-2xl">
		<div class="row justify-content-center mb-5">
			<h2 class="wow fadeInUp title-site fs-4 fw-bold">
				آخرین پست
			</h2>
		</div>
		<div class="row">

			<div class="col-12">
				<div class="owl-carousel owl-theme slider_product2 owl-rtl owl-loaded owl-drag" id="Related-posts-slider">

					@{
						var i = 1;

						foreach (var item in Model)
						{
							
							<div class="wow pulse item_slider-Related-posts" data-wow-duration="2s">
								<div class="card card-post">
									<div class="hover01 column">
									<a asp-controller="Blogs" asp-action="Details" asp-route-id="@(item.BlogId)">
										<figure>
											<img class="card-img-top @((i==1)?"":"img-fluid")" src="~/emoniFiles/Blogs/@item.ImageBlogName" alt="@(item.ImageBlogName)"
											 style="width: 15rem !important; margin: 0 auto !important;">
										</figure>
										</a>
									</div>
									<a asp-controller="Blogs" asp-action="Details" asp-route-id="@(item.BlogId)" style="cursor: pointer;">
									<div class="card-body-blog-index">
										<div class="meta-post d-flex mb-3">

											<div class="date-post item-meta-post  me-3">
												<a asp-controller="Blogs" asp-action="Details" asp-route-id="@(item.BlogId)" class="data-link">
													@(item.InsertDateTime.ToShamsiWithoutTime())
												</a>
											</div>
										</div>
										<div class="content-post">
											<h2 class="title-post mb-3">
												<a asp-controller="Blogs" asp-action="Details" asp-route-id="@(item.BlogId)">
													@(item.Title)
												</a>
											</h2>
												<p class="card-text mb-3" style="font-size:10px!important; font-weight:200!important; line-height: inherit;">
											<a asp-controller="Blogs" asp-action="Details" asp-route-id="@(item.BlogId)">
												@(Html.Raw(item.Summary))
												</a>
											</p>
											<div class="btn-post-cart">
												<a asp-controller="Blogs" asp-action="Details" asp-route-id="@(item.BlogId)">
													بیشتر بخوانید
												</a>
											</div>
										</div>
									</div>
									</a>
								</div>
							</div>
							
							i++;
							
						}
					}
				</div>
			</div>
		</div>
	</div>
</section>