@model Parbad.IPaymentVerifyResult
@{
    ViewData["Title"] = "Verify result";
}

@section Styles
{
    <style>
        header {
            display : none;
        }
    </style>
}
<main class="content">
    <section class="mb-5 mt-5 pb-sm-2 pb-md-3  pb-lg-4 pb-xl-5">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="area-content-P404 d-flex justify-content-center flex-column align-items-center">
                        <h3 class="mb-5 d-flex justify-content-center align-items-center flex-column">
                            <img class="img-fluid" src="~/assets/img/checked (1).png" width="150">
                        </h3>
                        <h2 class="title404 mb-2">
                            پرداخت شما با موفقیت انجام شد
                        </h2>
                        <p class="mb-4 text-center">
                            پرداخت شما با شماره پیگیری @Model.TrackingNumber انجام شد
                        </p>
                        <p class="mb-4 text-center">
                            مبلغ کل پرداخت : @Model.Amount تومان
                        </p>
                        <p class="mb-4 text-center">
                           نام درگاه پرداخت : @Model.GatewayName
                        </p>
                        <p class="mb-4 text-center">
                          وضعیت پرداخت : @Model.Status
                        </p>
                        <p class="mb-4 text-center">
                          @Model.Message
                        </p>
                        <div class="area-btn-404">
                            <a asp-controller="Home" asp-action="Index" class="btn-animate1">
                                برگشت به صفحه اصلی
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
