@model IEnumerable<ViewModels.Comment.CommentsViewModel>

<style>
	.initials {
		font-size: 20px!important;
		position: relative;
		top: 13px;
	}

	.circle {
		background-color: #e9ecef;
		border-radius: 50%;
		height: 3rem;
		text-align: center;
		width: 3rem;
		margin: 5px 20px;
	}

	.porofileName h6 {
		font-size: 14px !important;
		color: #080808;
		font-weight : 400;
	}

</style>


<div class="box-comments">
	@if (Model.Any())
	{
		foreach (var item in Model)
		{
			<div class="item-comment pb-5 pb-md-1 mb-4">
				<div class="d-flex justify-content-between align-items-center mb-3" id="commentsId">

					@*like or Dislike*@
					@{
						var like = $"{item.CommentId}like";
						var disLike = $"{item.CommentId}disLike";
					}
					<div class="box-like-dislike-comment d-flex align-items-center">
						<button class="btn-like pe-3" type="button" onclick="sumDisLike('@item.CommentId')">
							<span id="@(disLike)">
								@(item.DisLikeNumbers)
							</span>
							<i class="fal fa-thumbs-up"></i>
						</button>

						<div class="border-right " style="height: 25px;"></div>
						<button class="btn-dislike ps-3" type="button" onclick="sumLike('@item.CommentId')">
							<span id="@(like)">
								@(item.LikeNumbers)
							</span>
							<i class="fal fa-thumbs-down"></i>
						</button>
					</div>

				</div>
				@*User Info*@
				<div class="porofile_customers-comment d-flex">
					<div class="area-img-comment">
						<div class="circle">
							<span class="initials">
								@(item.Username?.Substring(startIndex: 0, length: 2).ToUpper())
							</span>
						</div>
					</div>
				</div>
				<div class="ms-3 mr-md-4">
					<div class="d-flex justify-content-between align-items-center mb-3">
						<div class="porofileName ">
							<h6 id="userName">
								@(item.Username)
							</h6>
							<span id="insertTime">
								@(item.InsertDateTime.ToShamsiWithoutTime())
							</span>
						</div>
					</div>

					@*Stars rating*@
					<div class="star_rating me-3" id="commentsId">
						@for (var i = 1; i <= item.Rate; i++)
						{
							<span class="star-icon star-icon-active" id="rate">
								<i class="far fa-star"></i>
							</span>
						}
					</div>
					<p id="text">
						@(item.Text)
					</p>
				</div>
			</div>
		}
	}
</div>


